<div class="container text-center boddie">
  <h1><%= @result[:message] %></h1>
  <h2>Score: <%= @result[:score]%></h2>
  <p>Time taken: <%= @result[:time] %> seconds</p>
  <%= link_to "Play again!", root_path %>
</div>
