// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boddie{
  margin: 100px auto;
  h1{
    margin-bottom: 20px;
  }
  h2{
    font-weight: normal;
  }
}

.letters{
  color: red;
  margin: 10px auto;
}
